.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  background: rgb(73, 2, 72);
  background: linear-gradient(
    274deg,
    rgba(73, 2, 72, 1) 45%,
    rgba(155, 27, 158, 1) 79%
  );
  color: white;
  .logo {
    font-family: "Oleo Script Swash Caps", cursive;
    font-size: 32px;
  }
  .menu {
    display: flex;
    gap: 20px;
  }
  a {
    color: white;
    text-decoration: none;
    font-family: "Courgette", cursive;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    transition: 250ms;
    background: rgb(73, 2, 72);
    background: linear-gradient(
      274deg,
      rgba(73, 2, 72, 1) 29%,
      rgba(155, 27, 158, 1) 79%
    );
    &:hover {
      box-shadow: 2px 1px 5px 1px rgba(63, 61, 61, 0.292);
      transform: scale(1.1);
    }
  }
}
